body {
    font-family: raleway;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
    color: #c5c6c7;
  }

  header {
    width: 35rem;
    margin: 70px auto;
    border-radius: 40px;
    background-color:#1f2833;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px  #66fcf1;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 1rem;
  }

nav ul li a {
        text-decoration: none;
        color: #c5c6c7;
        font-weight: 600;
    
    }
    nav ul li a:hover {
        color: #66fcf1;

    }
.nav_item
{
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
.nav_item:hover
{
   
    transform: translate(0, -5px);
    transform-origin: center;
}
hr{
    border: 2px solid #45a29e;
    width: 50%;

}
/* ---------------------------------------------- Home -------- */

#home
{
    display: flex;
    justify-content:center;
    height: auto;
    color:#c5c6c7 ;
    padding: 1rem 0;
    margin: 5rem;
 gap:15rem;
}
#profile_pic{
    border-radius: 100%;
    border: 4px solid #333333;
    padding: 5px;
    transition: border 0.3s ease;
}
#profile_pic:hover{
    border: 4px solid #66fcf1;
    box-shadow: 0 0 10px 1px #66fcf1;
    padding: 5px;
    transition: border 0.3s ease;
}

#txt
{
    height: auto;
    width: 30%;
    margin: 2rem 0;
    gap: 1rem;
}

.text-1
{
    font-size: large;
    color:#66fcf1;
}
#typed
{
   color: #66fcf1 ;
   font-weight: bold;
    font-size: 2rem; 
    text-shadow: 2px 0px 4px #000000; 
}

.btn
{
    margin:5rem 10px;
    background: none;
    font-size:medium;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #c5c6c7;
    border: 2px solid #45a29e;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.btn:hover
{
    color:#0b0c10;
    border: 2px solid #66fcf1;
    background-color:#66fcf1;
    transition: color 0.3s ease;
    transition: background-color 0.5s ease;
}
a
{
    text-decoration: none;
}
/* ---------------------------------------------- About -------- */
#about
{
    
    justify-content: center;
    height: auto;
    color:#c5c6c7 ;
    padding: 1rem 2rem;
    margin: 5rem;
    gap:15rem;
    transition: border 0.3s ease;
    box-shadow: 3px 3px 3px 0px #66fcf1;
    border-radius: 20px;
    text-align: left;
}

#about:hover
{
    
    box-shadow:  3px 3px 5px 2px #66fcf1;
    transition: border 0.3s ease;
}

#about h2
{
    text-align: center;
    font-size:800;
    width: 100%;
    margin: 2rem 0;
    gap: 1rem;
    color:#66fcf1;

}